// mobile styling
.f1dex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	&__header {
		// TODO: change logo image height
		img {
			height: 150px;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// gap: 1rem;
		width: 22rem;
		border-radius: 10px;
		background-color: rgba(43, 33, 33, 0.9);

		&__search {
			display: flex;
			flex-direction: row;
			gap: 1rem;

			&__input,
			&__results {
				flex: 1;
			}

			&__input {
				display: flex;
				flex-direction: row;
				gap: 1rem;
			}

			.input {
				// width: 100%;
				background-color: #000000;
				border: 1px solid #878787;
				color: #ffffff;
			}
		}

		&__results {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			// width: 50%;
		}

		.f1dex__drivers__list {
			list-style: none;
			overflow: hidden scroll;
			height: 10rem;
			margin: 2px 0;
			padding: 0px;

			& > li {
				color: #ffffff;
			}
		}

		.f1dex__drivers__list__item {
			color: #ffffff;
			cursor: pointer;
			background-color: #000000;
			border: 2px solid #878787;
			border-radius: 10px;
			// width: 21rem;
			margin-bottom: 5px;

			// p {
			//   padding: 0.5rem;
			// }
		}

		.f1dex__body__results {
			h1,
			p {
				color: #ffffff;
			}

			h1 {
				font-size: 1rem;
			}
		}
	}
}

// desktop styling
@media (min-width: 768px) {
	.f1dex {
		position: relative;
		gap: 1rem;
		&__wheel {
			img {
				width: 880px;
				// display: none;
			}
		}

		&__header {
			// TODO: change logo image height
		}

		&__body {
			position: absolute;
			top: 335px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// gap: 1rem;
			width: 19rem;
			border-radius: 10px;
			background-color: rgba(43, 33, 33, 0.9);

			// &__search, &__results {
			//   flex: 1;
			// }

			&__search {
				display: flex;
				flex-direction: row;
				gap: 1rem;

				&__input,
				&__results {
					flex: 1;
				}

				&__input {
					display: flex;
					flex-direction: row;
					gap: 1rem;
				}

				.input {
					// width: 100%;
					background-color: #000000;
					border: 1px solid #878787;
					color: #ffffff;
				}
			}

			&__results {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				// width: 50%;
			}

			.f1dex__drivers__list {
				list-style: none;
				overflow: hidden scroll;
				height: 10rem;
				margin: 2px 0;
				padding: 0px;

				& > li {
					color: #ffffff;
				}
			}

			.f1dex__drivers__list__item {
				color: #ffffff;
				cursor: pointer;
				background-color: #000000;
				border: 2px solid #878787;
				border-radius: 10px;
				// width: 21rem;
				margin-bottom: 5px;

				// p {
				//   padding: 0.5rem;
				// }
			}

			.f1dex__body__results {
				h1,
				p {
					color: #ffffff;
				}

				h1 {
					font-size: 1rem;
				}
			}
		}
	}
}
